@import "fonts";
@import "menu";
@import "utility";
@import "index";
@import "footer";


body {
    font-family: 'Roboto', serif;
}

a {
    color: #0C75AF;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
